<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="../static/css/css_despesas.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>FinanceTech - Registro de Despesas</title>
</head>
<body>

    <header>
        <h1>FinanceTech</h1>
    </header>
    <h3>Olá, <span id="user-email" data-email="{{ email_login }}">{{ email_login }}</span></h3>
    <form id="despesaForm" enctype="multipart/form-data">
        <div>
            <label for="tipoDespesa">Tipo de Despesa:</label>
            <select id="tipoDespesa" name="tipoDespesa">
                <option value=""></option>
                <option value="alimentacao">Alimentação</option>
                <option value="combustivel">Combustível</option>
                <option value="agua">Água</option>
                <option value="energia">Energia Elétrica</option>
                <option value="internet">Internet</option>
                <option value="iptu">IPTU</option>
                <option value="ipva">IPVA</option>
                <option value="lavanderia">Lavanderia</option>
                <option value="financiamento">Financiamento</option>
                <option value="aluguel">Aluguel</option>
                <option value="outras">Outras Despesas</option>
            </select>

            <label for="data">Data:</label>
            <input type="date" id="data" name="data">

            <label for="valorTotal">Valor Total:</label>
            <input type="text" id="valorTotal" name="valorTotal">
        </div>

        <div>
            <label for="formaPagamento">Forma de Pagamento:</label>
            <select id="formaPagamento" name="formaPagamento">
                <option value="debito">Cartão Débito</option>
                <option value="credito">Cartão Crédito</option>
                <option value="dinheiro">Dinheiro</option>
                <option value="cheque">Cheque</option>
                <option value="pix">PIX</option>
                <option value="transferencia">Transferência Bancária</option>
            </select>

            <label for="observacoes">Observações:</label>
            <textarea id="observacoes" name="observacoes" rows="4"></textarea>

            <label for="imagem">Adicionar Imagem:</label>
            <input type="file" id="imagem" name="imagem">
        </div>
        <button type="button" onclick="adicionarDespesa()">Adicionar Despesa</button>
    </form>
    <div id="filtrosContainer">
        <div id="filtros">
            <div class="filtro">
                <label for="filtroTipoDespesa">Tipo de Despesa:</label>
                <div class="input-wrapper">
                    <input type="text" id="filtroTipoDespesa" oninput="filtrarTabela('tipoDespesa', this.value)">
                    <i class="material-icons">search</i>
                </div>
            </div>
        
            <div class="filtro">
                <label for="filtroData">Data:</label>
                <div class="input-wrapper">
                    <input type="text" id="filtroData" oninput="filtrarTabela('data', this.value)">
                    <i class="material-icons">search</i>
                </div>
            </div>
        
            <div class="filtro">
                <label for="filtroValorTotal">Valor Total:</label>
                <div class="input-wrapper">
                    <input type="text" id="filtroValorTotal" oninput="filtrarTabela('valorTotal', this.value)">
                    <i class="material-icons">search</i>
                </div>
            </div>
        
            <div class="filtro">
                <label for="filtroFormaPagamento">Forma de Pagamento:</label>
                <div class="input-wrapper">
                    <input type="text" id="filtroFormaPagamento" oninput="filtrarTabela('formaPagamento', this.value)">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </div>
    </div>
    <table id="tabelaDespesas">
        <thead>
            <tr>
                <th coluna="tipoDespesa">Tipo de Despesa</th>
                <th coluna="data">Data</th>
                <th coluna="valorTotal">Valor Total</th>
                <th coluna="formaPagamento">Forma de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            <!-- linhas da tabela adicionada -->
        </tbody>
    </table>
</body>
<script src="../static/js/script_despesas.js"></script>
</html>
