<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/css_login_cadastro.css"/>
    <title>Document</title>
</head>
<body>
   
    <form id="loginForm">
        <h1>Login</h1>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email_usuario" name="email_usuario">
            <label for="senha">Senha:</label>
            <input type="password" id="senha_usuario" name="senha_usuario">
            <button id="botton_login" type="button">Acessar</button>
        </div>
    </form>
</body>
</html>